## STAT 207 Lab 1: Python with Jupyter Notebooks [25 total points]

Due: Wednesday, February 3, 11:59pm CST

#### Name: Shuning Zhang NetID: sz31

## Instructions:

**Part 1.** [10 pts for successfully submitting this notebook to Github]

Make sure you have the following packages installed for Python on your computer: pandas, matplotlib.pyplot, seaborn.
To install them, launch a **command line window** and issue commands of the form:

    conda install *package_name_here*
    
To check if they are installed issue the command:

    conda list
    
and look through the list to make sure the packages you need are there. When done, return to this notebook.

**Part 2.** [5 points for getting the code below to run]

After ensuring that the packages listed above are installed on your computer import them here in the notebook by running the following commands. You should be able to do this by clicking anywhere inside the cell to select it and then hitting the 'Run' button in the menu at the top of this page.

In [2]:
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()                              # sets the default plotting style

**Part 3.**

**a)** [3 points] You should have a file "smoking.csv" in the same folder as this notebook. Read the file into a pandas data frame. You may call it "df" or whatever you like. As illustrated in the class notes, use the .head() function to display the first several lines of the data frame.

In [5]:
df = pd.read_csv('smoking.csv')
df.head()

,sex,age,marital_status,highest_qualification,nationality,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,Female,42,Single,No Qualification,British,"Under 2,600",The North,Yes,12,12,Packets
1,Male,53,Married,Degree,British,"Above 36,400",The North,Yes,6,6,Packets
2,Male,40,Single,GCSE/CSE,English,"2,600 to 5,200",The North,Yes,8,8,Hand-Rolled
3,Female,41,Married,No Qualification,English,"5,200 to 10,400",The North,Yes,15,12,Packets
4,Female,34,Married,GCSE/CSE,British,"2,600 to 5,200",The North,Yes,6,12,Packets

**b)** [1 point] Use .shape to determine how many observations (rows) there are.

In [13]:
rows = df.shape[0]
print (rows)

421

**Part 4.**

The data contains several variables involving demographic information and smoking habit information from a **random sample** of smokers living in the United Kingdom. The third column, 'marital_status' contains information regarding the marital status of each of the smokers.

**a)** [3 points] Using python commands in the cell below, determine how many smokers in this dataset are single, married, divorced, widowed, and separated. (see class notes)

In [16]:
marital_sta = df['marital_status'].value_counts()
print(marital_sta)

Single       158
Married      143
Divorced      58
Widowed       40
Separated     22
Name: marital_status, dtype: int64

**b)** [3 points] Using python commands in the cell below, make a barplot that shows the **counts** for the number of smokers in the dataset that are single, married, divorced, widowed, and separated.

Be sure to include:
* a title
* an appropriate label for your x-axis
* an appropriate label for your y-axis.

In [1]:
sns.barplot(x=marital_sta.index, y =marital_sta)
plt.title('martial status display')
plt.ylabel('Frequency')
plt.xlabel('martial status')

NameError: name 'sns' is not defined

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all. Checkpoint and exit. Follow the git submit instructions to submit your notebook.